.container{
    background-color: orange;
    padding-bottom: 20px;
    min-height: 100vh;
}
.headName{
    color: indigo;
    text-align: center;
    padding-top: 20px;
}
#msg{
    text-align: center;
    color: red;
    display: none;
    margin-bottom: 20px;

}
#items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}